body {
  background-color: #121212;
  color: white;
  padding: 0% 10%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0aee79;
  /* #0aee79 */
  /* #ffd344 */
  /* #ffff00 */
  /* #fef200 */
}

h2::after,
h3::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #0aee79;
  margin: 8px 20px;
}


footer {
  text-align: center;
}


/* Navbar */

.nav-title {
  flex: 1;
  padding-top: 10px;
  padding-left: 10px;
}

nav {
  display: flex;
  border-bottom: 1px solid white;
}

a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 0% 5%;
}

ul {
  list-style: none;
}
.nav-link {
  display: flex;
  flex: 1;
  place-items: center;
  justify-content: right;
}

.nav-link p {
  width: max-content;
}

/* Home */

/* .Home {
} */

/* .auto-scroll {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
} */

/* About */

.about {
  text-align: left;
  width: auto;
  height: 100%;
  background: #121212;
  color: whitesmoke;
  line-height: 200%;
  padding: 5%;
}

.about-header {
  padding: 0% 0% 5%;
  /* text-align: center; */
}

.header_icons {
  display: flex;
  /* justify-content: center; */
  place-items: center;
  gap: 2%;
  margin: 2% 0%;
}

.link_icons {
  display: flex;
  gap: 5%;
}
/* 
.doc_icons img {
  width: 40px;
  height: 40px;
} */

.section_button {
  background: #121212;
  font-size: 1.1rem;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid #0aee79;
  width: max-content;
}
/* 
.section_button:hover {
  background-color: #0aee79;
  color: #121212;
} */

.Skill {
  display: block;
}

.techSkill {
  background-color: #fef200;
  color: #121212;
  padding: 4px 5px;
  font-size: 1.05rem;
  margin: 1%;
  border-radius: 20px;
  border: 3px solid #fef200;
}

.personalSkill {
  background-color: #0dcaf0;
  color: #121212;
  padding: 4px 5px;
  font-size: 1.05rem;
  margin: 1%;
  border-radius: 20px;
  border: 3px solid #0dcaf0;
}

.techSkill:hover {
  background-color: #121212;
  color: #fef200;
}

.personalSkill:hover {
  background-color: #121212;
  color: #0dcaf0;
}

.Experience {
  padding: 5% 0%;
}

.experience-content {
  padding: 0% 5%;
  line-height: 1;
}

/* Education Qualification  */
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 5% 0%;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 15px;
}

.timeline-content {
  background: #121212;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 0rem 2rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-content p {
  width: max-content;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #121212, #0aee79, #0aee79);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0aee79;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* contacts page */

.contacts {
  text-align: center;
  width: 100%;
  height: 100%;
}

.contacts-header {
  padding: 5%;
}

.contacts-body {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  text-align: left;
}



.contacts-icons img {
  padding: 0% 2%;
  filter: invert();
  width: 35px;
  height: 35px;
}

.loaction {
  flex: 1 1 40%;
  padding-right: 100px;
}

.address {
  font-size: 0.9em;
  border-top: 2px solid white;
  line-height: 20px;
}

.form-section {
  flex: 1 1 60%;
}

/* Project */

.project {
  text-align: center;
  width: auto;
  height: auto;
  line-height: 40px;
  text-align: center;
}
.project-header {
  padding: 5%;
}

.description {
  padding: 5%;
}

.project-left {
  text-align: left;
}

.project-right {
  text-align: right;
}

.viewproject-button {
  padding: 1% 5%;
  border-radius: 10px;
  border: 2px solid #0aee79;
  background-color: #121212;
}

.viewproject-button:hover {
  background-color: #0aee79;
  color: #121212;
}

/* media query */

@media only screen and (max-width: 600px) and (min-width: 400px)  {
  .contacts-body {
    display: block;
  }
  .form-section {
    padding: 10% 0%;
  }
  .timeline-content p {
    width: fit-content;
  }
}