body {
  background-color: #121212;
  color: white;
  padding: 0% 10%;
  max-width: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0aee79;
  /* #0aee79 */
  /* #ffd344 */
  /* #ffff00 */
  /* #fef200 */
}

h2::after,
h3::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #0aee79;
  margin: 8px 20px;
}

footer {
  text-align: center;
  border-top: 1px solid #ffffff80;
}

/* Navbar */

.navigation-title {
  flex: 1;
  padding-top: 10px;
  padding-left: 10px;
}

.navbar {
  display: flex;
  border-bottom: 1px solid #ffffff80;
}

a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 0% 5%;
}

ul {
  list-style: none;
}

.navigation-link {
  display: flex;
  flex: 1;
  place-items: center;
  justify-content: right;
}

.navigation-link p {
  width: max-content;
}

.hamburger-navbar {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navigation-title {
    padding: 0;
  }

  .navigation-link {
    display: none;
  }

  .hamburger-navbar {
    display: block;
    transform: rotate(90deg);
    background: #121212;
    color: #0aee79;
    font-size: 1.05rem;
    margin-bottom: 5%;
    border: none;
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 1;
    transform: rotate(90deg);
    font-size: 1.5em;
  }
}

/* Home */

.home {
  /* position: relative; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-icons {
  filter: invert(100%);
  padding: 0% 0%;
  width: fit-content;
  display: flex;
  scale: 0.85;
}

.homepage-icons a {
  margin: 0% 11%;
}

.home-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.navtitle {
  flex: 1 1 50%;
  flex-shrink: 0;
}

hr {
  display: none;
}

.navlink {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
}

.mobile-menu {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.close-button {
  position: absolute;
  top: 3%;
  right: 15%;
  background-color: #121212;
  color: #0aee79;
  border: none;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navtitle {
    text-align: center;
  }

  .navlink {
    display: none;
  }

  .hamburger {
    display: block;
    background: #121212;
    color: #0aee79;
    font-size: 1.05rem;
    margin-bottom: 5%;
    border: none;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
    transform: rotate(90deg);
    font-size: 1.5em;
  }

  .navlink.active {
    display: flex;
  }

  .mobile-menu {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    padding: 20px;
    z-index: 200;
    overflow: hidden;
  }

  .mobile-menu a {
    width: fit-content;
    padding: 5% 0%;
  }
}

/* About */

.about {
  width: auto;
  height: 100%;
  background: #121212;
  color: whitesmoke;
  line-height: 200%;
  padding: 5%;
}

.about-intro {
  display: flex;
  margin: 5% 0% 10%;
}

.intro-img {
  flex: 1 1 30%;
  text-align: center;
}

.intro-para {
  flex: 1 1 70%;
}

.interest-list {
  background: #121212;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  color: whitesmoke;
  width: 225px;
  font-size: 1.05rem;
  margin: 1% 1.75% 3%;
  border: 3px solid rgba(245, 245, 245, 0.329);
}

.sub-interest {
  display: flex;
  justify-content: space-around;
  padding: 8% 0%;
}

/* timeline  */


/* Career */

.career {
  text-align: left;
  width: auto;
  height: 100%;
  background: #121212;
  color: whitesmoke;
  line-height: 200%;
  padding: 5%;
}

.career-header {
  padding: 0% 0% 5%;
  /* text-align: center; */
}

.header_icons {
  display: flex;
  place-items: center;
  gap: 2%;
  margin: 2% 0%;
}

.link_icons {
  display: flex;
  gap: 20%;
  padding-top: 10px;
}

.resume {
  filter: invert(100%);
}

.section_button {
  background: #121212;
  font-size: 1.1rem;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid #0aee79;
  width: max-content;
}
/* 
.section_button:hover {
  background-color: #0aee79;
  color: #121212;
} */

.Skill {
  display: block;
}

.techSkill {
  background-color: #fef200;
  color: #121212;
  padding: 4px 5px;
  font-size: 1.05rem;
  margin: 1%;
  border-radius: 20px;
  border: 3px solid #fef200;
}

.personalSkill {
  background-color: #0dcaf0;
  color: #121212;
  padding: 4px 5px;
  font-size: 1.05rem;
  margin: 1%;
  border-radius: 20px;
  border: 3px solid #0dcaf0;
}

.techSkill:hover {
  background-color: #121212;
  color: #fef200;
}

.personalSkill:hover {
  background-color: #121212;
  color: #0dcaf0;
}

.Experience {
  padding: 5% 0%;
}

.experience-content {
  padding: 0% 5%;
  line-height: 1;
}

/* Education Qualification  */
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 5% 0%;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 15px;
}

.timeline-content {
  background: #121212;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 0rem 2rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-content p {
  width: max-content;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #121212, #0aee79, #0aee79);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0aee79;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* contacts page */

.contacts {
  text-align: center;
  width: auto;
  height: 100%;
  padding: 5%;
}

.contacts-body {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  text-align: left;
}

.contacts-icons img {
  padding: 0% 2%;
  filter: invert();
  width: 35px;
  height: 35px;
}

.loaction {
  flex: 1 1 40%;
  padding-right: 100px;
}

.address {
  font-size: 0.9em;
  border-top: 2px solid white;
}

.form-section {
  flex: 1 1 60%;
}

.social-icons {
  filter: invert(100%);
  padding: 3% 0%;
  display: flex;
  justify-content: space-evenly;
  scale: 0.85;
}

/* Project */

.project {
  text-align: center;
  width: auto;
  height: auto;
  line-height: 40px;
  text-align: center;
  padding: 5%;
}
.project-header {
  padding-bottom: 5%;
}

.description {
  padding: 5%;
}

.project-left {
  text-align: left;
}

.project-right {
  text-align: right;
}

.viewproject-button {
  padding: 1% 5%;
  border-radius: 10px;
  border: 2px solid #0aee79;
  background-color: #121212;
}

.viewproject-button:hover {
  background-color: #0aee79;
  color: #121212;
}

/* media query */

@media only screen and (max-width: 600px) and (min-width: 350px) {
  
  body {
    padding: 0;
  }

  .career ,.about ,.contacts, .project {
    padding: 10%;
  }

  .home {
    height: 97vh;
  }

  hr {
    display: block;
    width: 80%;
    opacity: 0.3;
    margin-bottom: 10%;
  }

  .homepage-icons {
    scale: 0.75;
  }

  .homepage-icons a {
    margin: 0% 12%;
  }

  .about-intro {
    display: flex;
    flex-direction: column;
  }

  .intro-para,
  .about h2 {
    text-align: center;
  }

  .about-body h3 {
    text-align: left;
  }

  .interest-section {
    display: flex;
    flex-direction: column;
  }

  .interest-list {
    margin: 5% 13.5%;
  }

  .career h2 {
    text-align: center;
  }
  .career h3,
  .intro {
    text-align: left;
  }

  .Skill,
  .Experience,
  .Education {
    margin: 10% 0%;
  }

  .header_icons {
    display: flex;
    flex-direction: column;
  }

  .link_icons {
    display: flex;
  }

  .contacts-body {
    display: block;
    padding: 0;
    text-align: left;
  }

  .loaction {
    width: 100%;
    padding-right: 0%;
  }

  .form-section {
    padding: 10% 0%;
  }
  .timeline-content p {
    width: fit-content;
  }

  .social-icons {
    scale: 0.75;
  }
}
